@font-face {
  font-family: "EB Garamond";
  src: url("./fonts/EBGaramond-VariableFont_wght.ttf") format("truetype");
}

:root {
  --font-family: "EB Garamond", serif;
  --font-huge: 24px;
  --font-large: 18px;
  --font-regular: 16px;
  --font-small: 14px;

  --background-color: #d5dd69;
  --title-text-color: #f43d3d;
  --text-color: black;
}

body {
  background-color: var(--background-color);
  font-family: 'EB Garamond', serif;
}

a {
  font-family: 'EB Garamond', serif;
  color: var(--title-text-color);
}

a:hover {
  color: blue;
}

h1,
h2,
h3,
h4 {
  color: var(--title-text-color);
  /*text-shadow: 3px 2px 5px black;*/
}

main {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;

  font-size: var(--font-huge);
}

main h2 {
  width: 800px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 15em;
}

#kaikkivaltias-title {
  font-size: 5em;
      margin-bottom: 5px;
    margin-top: 5px;
}

@media screen and (max-width: 768px) {
  #kaikkivaltias-title {
    font-size: 3em;
  }
}

#yxi-text {
        top: 824px;
    font-size: 52px;
}

@media screen and (max-width: 768px) {
  #yxi-text {
            top: 805px;
  }
}

@media screen and (max-width: 425px) {
  #yxi-text {
            top: 575px;
                  width: 100%;
  }
}

#yxi-input {
  max-width: 500px;
  font-size: var(--font-huge);
  border: 2px solid black;
  text-align: center;
  margin-top: 2em;
}

.yxi-manifesto {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.yxi-cross {
  display: flex;
  flex-direction: column;
  align-items: center;
 
  font-size: 40px;
}

.yxi-cross-vertical {
  width: 300px !important;
  display: flex !important;
  justify-content: space-between !important;
  margin-right: 12px;
}

.listen-links {
  width: 500px;
  display: flex;
  gap: 1em;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  margin-top: 4em;
  margin-bottom: 1em;
}

.listen-links a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}

.listen-links img {
  width: 54px;
  height: 54px;
}



@media screen and (max-width: 500px) {
  main {
    width: 450px;
  }
  img {
    width: 450px;
  }

  main h2 {
    width: 300px;
  }

  .listen-links {
    width: 300px;
    flex-wrap: wrap;
  }
}
